@import url(./fonts.css);

body {
    font-family: 'Roboto', sans-serif;
}

/* начало ШАПКИ header */
.header__container {
    max-width: 1616px;
}

header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    display: flex;
    flex-wrap: nowrap;
}

#menu {
    padding: 35px;
    text-decoration: none;
    color: var(--Gray-1, #333);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#menu:hover {
    font-weight: 900;
    text-decoration: underline;
}

/* адаптив с бургер меню для Header */

@media screen and (min-width:720px) {
    .icon {
        display: none;
    }
}

@media screen and (max-width:719px) {
    #menu {
        display: none;
    }

    #nav-icon1 {
        width: 50px;
        height: 45px;
        position: relative;
        justify-content: right;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon1 span {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    #nav-icon1 span:nth-child(1) {
        top: 0px;
    }

    #nav-icon1 span:nth-child(2) {
        top: 18px;
    }

    #nav-icon1 span:nth-child(3) {
        top: 36px;
    }

    #nav-icon1.open span:nth-child(1) {
        top: 18px;
        transform: rotate(135deg);
    }

    #nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    #nav-icon1.open span:nth-child(3) {
        top: 18px;
        transform: rotate(-135deg);
    }
}

/* адаптив с бургер меню для Header */
/* конец ШАПКИ header */


/* начало ПЕРВОГО блока "Watch  your favorite animal" */
@media screen and (min-width:620px) {
    .animals {
        position: relative;
        background-image: url(../assets/img/jpg_rectangle_32.jpg);
        max-width: 1920px;
        height: 940px;
        margin: 0 auto;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 10% 20% 30% 40%;
        grid-template-rows: 5% 25% 10% 10% 20% 10%;
    }

    .animals__title {
        grid-area: 2/2/3/7;
    }


    .animals__title-title {
        font-size: 89px;
        font-weight: 900;
        line-height: 104px;
        line-height: 1em;
        color: white;
    }

    .animals__cards {
        grid-row: 5;
        grid-column-start: 3;
        grid-column-end: 8;
    }

    .animals__cards :hover {
        transform: scale(1.2);
        filter: contrast(110%) brightness(1.2) saturate(1.2);
        transition: all 0.2s ease-in;
    }

    .animals__card-img {
        border-radius: 20px;
        width: 165px;
        height: 245px;
    }



    .card :hover {
        transform: scale(1.2);
        filter: contrast(110%) brightness(1.2) saturate(1.2);
        transition: all 0.2s ease-in;
    }

    .animals__socials {
        grid-area: 6/2;
    }

    .animals__socials-list {
        list-style-type: none;
    }

    .animals__form {
        align-self: center;
        grid-area: 4/2;
    }

    .search-form__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 245px;
        height: 55px;
        border-radius: 3px;
        background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    }

    .search-form__button:hover {
        background: rgb(138, 196, 51);
    }

    .button-icon {
        width: 32px;
        height: 32px;
        padding-right: 5px;
    }

    .button-text {
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 900;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
}

@media screen and (max-width:962px) {
    .card4 {
        display: none;
    }
}

@media screen and (max-width:719px) {
    .card3 {
        display: none;
    }
}


/* адаптив Первого блока для tablet */
@media screen and (max-width:619px) {

    .animals {
        position: relative;
        background-image: url(../assets/img/jpg_rectangle_32.jpg);
        max-width: 640px;
        height: 940px;
        margin: 0 auto;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 10% 30% 20% 20% 20%;
    }

    .animals__title {
        grid-area: 2/2/2/6;
    }


    .animals__title-title {
        font-size: 60px;
        font-weight: 900;
        line-height: 104px;
        line-height: 1em;
        color: white;
    }

    .animals__cards {
        grid-area: 4/2/7/7;
    }

    .animals__cards :hover {
        transform: scale(1.2);
        filter: contrast(110%) brightness(1.2) saturate(1.2);
        transition: all 0.2s ease-in;
    }



    .animals__card-img {
        border-radius: 20px;
        width: 165px;
        height: 250px;
    }


    .card3 {
        display: none;
    }

    .card4 {
        display: none;
    }



    .card :hover {
        transform: scale(1.2);
        filter: contrast(110%) brightness(1.2) saturate(1.2);
        transition: all 0.2s ease-in;
    }

    .animals__socials {
        grid-area: 5/1;
    }

    .animals__socials-list {
        list-style-type: none;
    }

    .animals__form {
        align-self: center;
        grid-area: 3/2/3/3;
    }

    .search-form__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 245px;
        height: 55px;
        border-radius: 3px;
        background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    }

    .search-form__button:hover {
        background: rgb(138, 196, 51);
    }

    .button-icon {
        width: 32px;
        height: 32px;
        padding-right: 5px
    }

    .button-text {
        color: #FFFFFF;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 900;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
}

/* конец адаптива Первого блока для tablet */
/* начало адаптива Первого блока для Mobile devices */
@media screen and (max-width:419px) {

    .animals {
        position: relative;
        background-image: url(../assets/img/jpg_rectangle_32.jpg);
        max-width: 640px;
        height: 940px;
        margin: 0;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 10% 30% 10% 40%;
        grid-template-rows: 10% 10% 10% 20% 20%;
    }

    .animals__title {
        grid-area: 2/2/2/5;
    }

    .animals__title-title {
        font-size: 48px;
        font-weight: 900;
        line-height: 1em;
        font-family: "Roboto";
        color: white;
    }

    .animals__cards {
        grid-area: 5/3/7/5;
    }

    .animals__cards :hover {
        transform: scale(1.2);
        filter: contrast(110%) brightness(1.2) saturate(1.2);
        transition: all 0.2s ease-in;
    }

    .animals__card-img {
        border-radius: 20px;
        width: 150px;
        height: 200px;
    }

    .card1 {
        display: none;
    }

    .card3 {
        display: none;
    }

    .card4 {
        display: none;
    }


    .card :hover {
        transform: scale(1.2);
        filter: contrast(110%) brightness(1.2) saturate(1.2);
        transition: all 0.2s ease-in;
    }

    .animals__socials {
        grid-area: 6/1;
    }

    .animals__socials-list {
        list-style-type: none;
    }

    .animals__form {
        align-self: center;
        grid-area: 4/2/4/3;
    }

    .search-form__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 245px;
        height: 55px;
        border-radius: 3px;
        background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    }

    .search-form__button:hover {
        background: rgb(138, 196, 51);
    }

    .button-icon {
        width: 32px;
        height: 32px;
        padding-right: 5px;
    }

    .button-text {
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 900;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
    }
}

/* конец адаптива Первого блока для Mobile devices */
/* конец ПЕРВОГО блока "Watch  your favorite animal" */

/* начало ВТОРОГО блока "How it works?"  */

.how {
    max-width: 790px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.how_text {
    font-size: 14px;
}

.how__title {
    text-align: center;
    font-size: 48px;
    margin-top: 100px;
    margin-bottom: 35px;
}

.how__img {
    max-width: 100%;
    margin-top: 14px;
    margin-bottom: 35px;
}

.how__button {
    margin: 0 auto;
    margin-bottom: 100px;
}

/* начало адаптива ВТОРОГО блока "How it works?" для Mobile devices */

@media screen and (max-width:300px) {
    .how__title {
        font-size: 36px;
    }
}

/* конец адаптива ВТОРОГО блока "How it works?" для Mobile devices */
/* конец ВТОРОГО блока "How it works?"  */

/* начало ТРЕТЬЕГО блока "What inspires us?" */
.inspiration {
    background: var(--Gray-6, #F2F2F2);
}

.inspiration__container {
    max-width: 1198px;
    margin: 0 auto;
}

.inspiration__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "firstText secondText thirdText";
    justify-items: center;
    align-items: baseline;
    margin-bottom: 35px;
    padding-top: 65px;
    padding-bottom: 65px;
}

h3 {
    color: var(--Gray-1, #333);
    font-size: 1.25rem;
    line-height: normal;
}

.inspiration p {
    color: var(--Gray-2, #4F4F4F);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.firstText {
    grid-area: firstText;
    display: flex;
    width: 23.75rem;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
    flex-shrink: 0;
}

.secondText {
    grid-area: secondText;
    display: flex;
    width: 23.75rem;
    height: 10.3125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    flex-shrink: 0;
}

.thirdText {
    grid-area: thirdText;
    display: flex;
    width: 23.75rem;
    height: 11.3125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    flex-shrink: 0;
}

/* конец ТРЕТЬЕГО блока "What inspires us?" */

/* начало адаптива tablet ТРЕТЬЕГО блока "What inspires us?"  */
@media screen and (max-width:719px) {

    .inspiration__info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "firstText" "secondText" "thirdText";
        justify-items: center;
        align-items: center;
        margin-bottom: 35px;
        grid-row-gap: 35px;
    }
}

/* конец адаптива tablet ТРЕТЬЕГО блока "What inspires us?"  */

/* начало ЧЕТВЕРТОГО блока "Pets in ZOO" */
.pets_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "h2"
        "img_container"
        "button";
}

#title_4 {
    grid-area: h2;
}

.img_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    grid-template-areas:
        "img1 img2 img3 img4";
    grid-area: img_container;
}

#img_panda {
    grid-area: img1;
}

#img_bird {
    grid-area: img2;
}

#img_monkey {
    grid-area: img3;
}

#img_crocodile {
    grid-area: img4;
}

.choose_button {
    grid-area: button;
}

/* конец ЧЕТВЕРТОГО блока "Pets in ZOO" */

/* Начало адаптива 4-го блока tablet */
@media screen and (max-width:619px) {
    .pets_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-items: center;
        align-items: center;
        grid-template-areas:
            "h2"
            "img_container"
            "button";
    }

    .img_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "img1" "img2";
        grid-area: img_container;
    }

    #img_monkey {
        grid-area: img3;
        display: none;
    }

    #img_crocodile {
        grid-area: img4;
        display: none;
    }
}

/* конец адаптива 4-го блока tablet */

/* Начало адаптива 4-го блока mobile */

@media screen and (max-width:419px) {
    .img_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "img1";
        grid-area: img_container;
    }

    #img_bird {
        display: none;
    }
}

/* Конец адаптива 4-го блока mobile */

/* начало ПЯТОГО блока "Pay and feed" */
.block-pay {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #F2F2F2;
}

.title_style {
    color: var(--Gray-1, #333);
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.txt_style {
    color: var(--Gray-2, #4F4F4F);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.options {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.arrow {
    width: 6em;
    flex-shrink: 0;
    padding: 3em;
}

.round {
    width: 15em;
    height: 15em;
    flex-shrink: 0;
}

.section-button {
    align-self: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    ;
}

.options-tablet {
    display: none;
}


/* конец ПЯТОГО блока "Pay and feed"   */
/* начало адаптива ПЯТОГО блока "Pay and feed" для tablet */

@media screen and (max-width: 640px) {
    .block-pay {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        background-color: #F2F2F2;
        max-width: 640px;
        max-height: 1393px;
    }

    .txt_style {
        color: var(--Gray-2, #4F4F4F);
        text-align: center;
        font-family: Roboto;
        font-size: 0.7em;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }

    .arrow_tablet {
        width: 2em;
        padding: 3em;
    }

    .options {
        display: none;
    }

    .options-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}


/* конец адаптива ПЯТОГО блока "Pay and feed" для tablet */


/* начало адаптива ПЯТОГО блока "Pay and feed" для Mobile devices */
@media screen and (max-width: 320px) {
    .title_style {
        color: var(--Gray-1, #333);
        text-align: center;
        font-family: Roboto;
        font-size: 2em;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .txt_style {
        display: none;
    }

}

/* конец адаптива ПЯТОГО блока "Pay and feed" для Mobile devices  */

/* начало ШЕСТОГО блока "Testimonials" */
.testimonials__container {
    max-width: 1198px;
    margin: 0 auto;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "h2 h2"
        "feedback_1 feedback_2"
        "leave_feedback leave_feedback";
    justify-items: center;
    align-items: center;
}

#title_5 {
    grid-area: h2;
}

.feedback_1 {
    grid-area: feedback_1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback_1 img {
    width: 3rem;
}

.feedback_2 {
    grid-area: feedback_2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials p {
    color: var(--Gray-2, #4F4F4F);
    width: 27.5rem;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.leave_feedback_button {
    grid-area: leave_feedback;
}

.search-form__button_6 {
    width: 245px;
    height: 55px;
    border-radius: 3px;
    background: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
}

.search-form__button_6:hover {
    background: rgb(138, 196, 51);
}

.feedback_1:hover {
    border-radius: 0.3125rem;
    background: #FEFEFE;
    box-shadow: 2px 4px 15px 0px rgba(6, 12, 70, 0.10);
}

.feedback_2:hover {
    border-radius: 0.3125rem;
    background: #FEFEFE;
    box-shadow: 2px 4px 15px 0px rgba(6, 12, 70, 0.10);
}

/* конец ШЕСТОГО блока "Testimonials" */

/* начало адаптива 6-го блока tablet */
@media screen and (max-width: 610px) {
    .testimonials {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "h2"
            "feedback_1"
            "feedback_2"
            "leave_feedback";
        justify-items: center;
        align-items: center;
    }
}

/* начало адаптива 6-го блока tablet */

/* начало адаптива 6-го блока mobile */
@media screen and (max-width: 419px) {
    .testimonials {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "h2"
            "feedback_1"
            "leave_feedback";
        justify-items: center;
        align-items: center;
    }

    .feedback_2 {
        display: none;
    }
}

/* конец адаптива 6-го блока mobile */

/* начало СЕДЬМОГО блока "MAP" */
.inspiration__container {
    max-width: 1921px;
    height: auto;
}
.map {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

}
.map-container {
    max-width: 1200px;
    height: 500px;
    margin: 50px;
    display: grid;
    background: url(/assets/img/jpg_map.jpg);
    grid-template-columns: 10% 5% 5% 30% 25% 20% 1fr;
    grid-template-rows: 10% 15% 20%  3% 10% 20% 1fr;
}
.map__placeholder1 {

    grid-area: 3/2/2/2;
}
.map__placeholder2 {
   grid-area: 3/4/3/4;
    }
.map__placeholder3 {
    grid-area: 4/5;
    
}
.map__placeholder4 {
    grid-area: 3/6;
    
}
.map__placeholder1:hover  {
    filter: contrast(110%) brightness(1.2) saturate(1.2);
}
.map__placeholder2:hover  {
   filter: contrast(110%) brightness(1.2) saturate(1.2);
}
.map__placeholder3:hover  {
    filter: contrast(110%) brightness(1.2) saturate(1.2);
   
}
.map__placeholder4:hover  {
   filter: contrast(110%) brightness(1.2) saturate(1.2);
}


#title_6 {
   padding-top: 5rem;
}
@media screen and (max-width: 1160px;) {
    .inspiration__container {
        max-width: 70%;
    }
    .map-container {max-width: 70%;}
    .map__placeholder1{
        width: 70%
    }

}
    


/* начало СЕДЬМОГО блока "MAP" */